.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1
{
  text-align: center;
  text-decoration: underline;
  font-family: 'Licorice', cursive;
  font-family: 'Playfair Display', serif;
}

#btn
{
  background-color:#31c531;
  color: white;
  margin-bottom: 10px;
}


.card{
  margin-top: 5px;
}
