<div class="container">
  <h1 class="text-center mt-3">Listes des champions</h1>

  <button mat-raised-button id="btn" (click)="openAddChampionModal()">
    Nouveau champion
  </button>

  <ag-grid-angular
    #myGrid
    style="height: 500px; width: 110%"
    class="ag-theme-alpine mt-3"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [pagination]="true"
    [frameworkComponents]="frameworkComponents"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
